{% extends 'partnerapp/dashboard.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<center>
<ul style="padding: 5px;"><br>
    <li>Tagline : {{promotion.tagline}}</li><br>
    <li>Description : {{promotion.description}}</li><br>
    <li>Day : {{promotion.day}}</li><br>
    <li>Image : <img src="{{promotion.image.url}}" class="rounded-circle" height="100px" width="100px"></li><br>
</ul>
</center>
{% endblock %}
