{% extends 'partnerapp/dashboard.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
    <div class = "container" >
        <h1 style="padding: 5px;">Promotions</h1>
        <hr>    
        <table class="table">
            <tr>
                <th>Tagline</th>
                <th>Description</th>
                <th>Image</th>
                <th>Day</th>
                <th>Other Options</th>
            </tr>
            {% for promotion in promotion_list %}
            <tr>
                <th>{{promotion.tagline}}</th>
                <th>{{promotion.description}}</th>
                <th><img src="{{promotion.image.url}}"class="rounded-circle" height="100" width="100"></th>
                <th>{{promotion.day}}</th>
                <th>
                    <a href="/promotions/promotion/{{promotion.id}}/detail" class="btn btn-info">View Detail</a>
                    <a href="/promotions/promotion/{{promotion.id}}/update" class="btn btn-success">Update</a>
                    <a href="/promotions/promotion/{{promotion.id}}/delete" class="btn btn-danger">Delete</a>
                </th>
            </tr>
            {% endfor %}
        </table>        
    </div>
{% endblock %}
