{% extends 'registration/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="login-content">
    <div class="login-logo">
        <a href="index.html">
              <img src="{% static 'images/logo_cart.jpg'%}" height="200px" width="200px" class="rounded-circle" alt="">
        </a>
    </div>
    <div class="login-form">
            <form method="post">
                  {{form | crispy }}
                  {% csrf_token %}
                  <input type="submit" name="" class = "btn btn-primary" value="Login">
                 
            </form>
    </div><br>
                             <center><a href="/partner/signup" style="color: white" class="btn btn-success">New Partner?Register</a>&nbsp;
                             <a href="{% url 'password_reset' %}" style="color: White" class="btn btn-danger">Forgot Password</a>
                             </center>
</div>
{% endblock %}
