{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<style>
    h3, p{
        color: white
    }
    li{
        list-style-type: none;
    }
</style>
<div class="container" style="padding: 50px;">
<center>
<img src="{% static 'images/logo_cart.jpg'%}" height="200px" width="200px" class="rounded-circle" alt=""><br><br>
{% if validlink %}

<h3>Set a new Password</h3><br>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password" class="btn btn-success">
</form>

{% else %}

<p>The password reset link was invalid, possibly because it has already been used.  Please request a new password reset.</p>

{% endif %}
  </center>
</div>
{% endblock %}
