{% extends 'registration/base.html' %}
{% load static %}
{% block content %}
<style>
    h2, p{
        color: white
    }
</style>
<div class="container" style="padding: 60px;color: white">
<center>
<img src="{% static 'images/logo_cart.jpg'%}" height="200px" width="200px" class="rounded-circle" alt="">
<h2>Please check your inbox</h2>
<p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>

  </center>
</div>
{% endblock %}
