{% extends 'registration/base.html' %}
{% load static %}
{% block title %}Forgot Your Password?{% endblock %}

{% block content %}
<div class="container" style="padding: 50px;">
<center>
<img src="{% static 'images/logo_cart.jpg'%}" height="200px" width="200px" class="rounded-circle" alt="">
  <h2 style="color: White">Forgot your password?</h2>
  <p>Enter your email address below, and we'll email instructions</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Send Mail!" class="btn btn-success">
  </form>
  </center>
</div>
{% endblock %}
