{% extends 'registration/base.html' %}
{% load static %}
{% block content %}
<style>
    h2, p{
        color: white
    }
</style>
<div class="container" style="padding: 60px;color: white">
<center>
<img src="{% static 'images/logo_cart.jpg'%}" height="200px" width="200px" class="rounded-circle" alt="">
<h2>Password reset complete</h2>
<p>Your new password has been set. You can log in now</p>
<a href="{% url 'login' %}" class="btn btn-success">Login</a>

  </center>
</div>
{% endblock %}
