{% extends 'partnerapp/dashboard.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<div class = "container" >
    <h1 style="padding: 5px;">Product</h1>
    <hr>    
    <table class="table">
        <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
            <th>Image</th>
            <th>Other Options</th>
        </tr>
        {% for product in product_list %}
        <tr>
            <th>{{product.Name}}</th>
            <th>{{product.Category}}</th>
            <th>{{product.Price}}</th>
            <th>{{product.Description}}</th>
            <th><img src="{{product.Image.url}}"class="rounded-circle" height="100" width="100"></th>
            <th>
                <a href="/products/product/{{product.id}}/detail" class="btn btn-info">View Detail</a>
                <a href="/products/product/{{product.id}}/update" class="btn btn-success">Update</a>
                <a href="/products/product/{{product.id}}/delete" class="btn btn-danger">Delete</a>
            </th>
        </tr>
        {% endfor %}
    </table>    
</div>
{% endblock %}
