{% extends 'partnerapp/dashboard.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<center>

<ul style="padding: 5px;"><br>
    <li>Name : {{product.Name}}</li><br>
    <li>Category : {{product.Category}}</li><br>
    <li>Price : {{product.Price}}</li><br>
    <li>Description : {{product.Description}}</li><br>
    <li>Image : <img src="{{product.Image.url}}" class="rounded-circle" height="100px" width="100px"></li><br>
    <li>Discount : {{product.Discount}}</li><br>
    <li>Quantity : {{product.Quantity}}</li><br>
</ul>
</center>

{% endblock %}
