{% extends 'partnerapp/dashboard.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<center>
<ul style="padding: 5px;"><br>
    <li>Username : {{employee.username}}</li><br>
    <li>First Name : {{employee.first_name}}</li><br>
    <li>Last Name : {{employee.last_name}}</li><br>
    <li>Email : {{employee.email}}</li><br>
    <li>Salary : {{employee.Salary}}</li><br>
    <li>Mobile : {{employee.Mobileno}}</li><br>
    <li>Department : {{employee.Department}}</li><br>
    <li>Blood Group : {{employee.Blood_Group}}</li><br> 
</ul>
</center>

{% endblock %}
