{% extends 'partnerapp/dashboard.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<div class = "container" >
    <h1 style="padding: 5px;">Employees</h1>
    <hr>    
    <table class="table">
        <tr>
            <th>Username</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>Department</th>
            <th>Other Options</th>
        </tr>
        {% for employee in employee_list %}
        <tr>
            <th>{{employee.username}}</th>
            <th>{{employee.first_name}}</th>
            <th>{{employee.last_name}}</th>
            <th>{{employee.email}}</th>
            <th>{{employee.Mobileno}}</th>
            <th>{{employee.Department}}</th>
            <th>
                <a href="/partner/employee/{{employee.id}}/detail" class="btn btn-info">View Detail</a>
                <a href="/partner/employee/{{employee.id}}/update" class="btn btn-success">Update</a>
                <a href="/partner/employee/{{employee.id}}/delete" class="btn btn-danger">Delete</a>
            </th>
        </tr>

        {% endfor %}
    </table> 
</div>
{% endblock %}
