{% extends 'partnerapp/dashboard.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<div class = "container" style="width:50%;padding: 5px;">
<form method="post">
    <br>
    <h4>Are you sure, you want to delete ?</h4><br><br>
    {% csrf_token %}
    <input type="submit" name="" class="btn btn-primary" value = "Confirm">
    <a href="/partner/dashboard" class="btn btn-danger">Cancel</a>
    <br><br>
</form>
</div>
{% endblock %}