{% load static %}
<html>
    <head></head>
    <body>
    <p>Hi!<br>
       How are you?<br>
       Here is the <a href="http://www.python.org">link</a> you wanted.
    <!-- <p> This is image {{path}} </p>
    <a href={{path}}>this is my link</a> -->
       <img src="http://{{path}}">
   </p>
   </body>
</html>