{% extends 'partnerapp/employeedash.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<div class = "container" >
    <h3 style="padding: 5px;">Recent Swipes</h3>
    <hr>    
    <div class="row">
        <div class="col-sm-4">
        {% for attendance in obj_in %}
        <h5><b> {{attendance.time}}</b> </h5>
        {{attendance.time_type}}
        {% endfor %}
        </div>
        <div class="col-sm-4">
        {% for attendance in obj_out %}
        <h5><b> {{attendance.time}}</b> </h5>
        {{attendance.time_type}}
        {% endfor %}
        </div>
</div>
{% endblock %}
