{% extends "admin/change_list.html" %}
{% load i18n %}
{% block object-tools-items %}
    {{ block.super }}
    <li>
        <a href="/partner/generate" class="btn btn-high btn-success">Generate Pay Slip</a>
    </li>
{% endblock %} 
