{% extends 'partnerapp/employeedash.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<div class = "container" style="width:50%;padding: 5px;">
        <h1 style="padding: 5px;">Employee</h1>
        <hr>    
        <form method="POST" enctype="multipart/form-data">
        {{form|crispy }}
        {% csrf_token %}
        <input type="submit" name="" class="btn btn-primary" value = "Submit">
    </form>
</div>
{% endblock %}
