{% extends 'partnerapp/employeedash.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
	<div class = "container" style="width:50%;padding: 5px;">
        <h1 style="padding: 5px;">Attendance</h1>
        <hr>    
        <form method="post">
        {% csrf_token %}
        <input type="submit" class="btn btn-danger" name="" value="Sign out">
    </div>
{% endblock %}

