{% extends 'partnerapp/employeedash.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<div class = "container" >
   	<h1 style="padding: 5px;">Employee Attendance</h1>
    <hr>	
   	<h4> SignIn time: {{in_time.time}} </h4><br>
   	<h4> SignOut time: {{out_time.time}} </h4><br>
</div>
{% endblock %}