{% extends 'partnerapp/dashboard.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
    <div class = "container" style="width:50%;padding: 5px;">
    <h1 style="padding: 5px;">Change Password</h1>
    <hr>    
    <form method="post">
        {% csrf_token %}
        {{ form | crispy }}
        <a href="/attendance/employee" class="btn btn-info">Back</a>
        <button type="submit" class="btn btn-danger">Submit</button>
    
</form>
</div>
{% endblock %}