{% extends 'partnerapp/dashboard.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<center>
<ul style="padding: 5px;"><br>
	<li>Code : {{coupon.code}}</li><br>
	<li>Coupon Value : {{coupon.coupon_value}}</li><br>
	<li>Coupon Description : {{coupon.coupon_description}}</li><br>
	<li>Start Date : {{coupon.start_date}}</li><br>
	<li>Expire Date : {{coupon.expire_date}}</li><br>
</center>
{% endblock %}

