{% extends 'partnerapp/dashboard.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<div class = "container" style="width:50%;padding: 5px;">
    <h1 style="padding: 5px;">Coupons</h1>
    <hr>    
    <form method="POST">
    {{form|crispy }}
    {% csrf_token %}
    <input type="submit" name="" class="btn btn-primary" value = "Submit">
    <a href="/partner/accounts/logout" class="btn btn-danger">Logout</a>
</form>
</div>
{% endblock %}

