{% extends 'partnerapp/dashboard.html' %}
{% load crispy_forms_tags %}
{% block parentblock %}
<div class = "container" >
    <h1 style="padding: 5px;">Coupons</h1>
    <hr>    
    <table class="table">
        <tr>
            <th>Code</th>
            <th>Coupon Value</th>
            <th>Coupon Description</th>
            <th>Start Date</th>
            <th>Expire Date</th>
            <th>Other Options</th>
        </tr>
        {% for coupon in coupon_list %}
        <tr>
            <th>{{coupon.code}}</th>
            <th>{{coupon.coupon_value}}</th>
            <th>{{coupon.coupon_description}}</th>
            <th>{{coupon.start_date}}</th>
            <th>{{coupon.expire_date}}</th>
            <th>
                <a href="/coupons/coupon/{{coupon.id}}/detail" class="btn btn-info">View Detail</a>
                <a href="/coupons/coupon/{{coupon.id}}/update" class="btn btn-success">Update</a>
                <a href="/coupons/coupon/{{coupon.id}}/delete" class="btn btn-danger">Delete</a>
            </th>
        </tr>

        {% endfor %}
    </table>
</div>
{% endblock %}

